* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bricolage Grotesque", sans-serif;
}

html, body {
    background-color: var(--color-background);
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: "Bricolage Grotesque", sans-serif;
}

img, video, svg {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Section générique */
section {
    width: 100%;
    padding-left: var(--padding-section);
    padding-right: var(--padding-section);
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
}